/* Remove default list styling */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

/* Make list horizontal */
.navbar li {
  float: left;
}

/* Style links */
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Hover effect */
.navbar li a:hover {
  background-color: #04AA6D;
  color: white;
}